<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>clientid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.$(GOOGLE_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>ADMOB_BANNER_ID</key>
	<string>$(ADMOB_BANNER_ID)</string>
	<key>ADMOB_INTERSTITIAL_ID</key>
	<string>$(ADMOB_INTERSTITIAL_ID)</string>
	<key>ADMOB_REWARDED_ID</key>
	<string>$(ADMOB_REWARDED_ID)</string>
</dict>
</plist>
