<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>clientid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.624953458678-0eomb4k8oiie2is4tekp8hvhrcvr19uh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>MobTracker</string>
	<key>CFBundleName</key>
	<string>MobTracker</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you.</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9373931451334451~8223660201</string>
</dict>
</plist>
